{% include "question/base.html" %}
{% load static %}
{% block content %}
{% include "question/nav_panel.html" %}
    <!-- Begin page content -->
    <main role="main" class="container">
        <div class="row">
        <div class="col-9">
            <div class="row">
                <form>
                    <div class="navbar-brand">
                        <span class="headline"> New Question</span></a>
                    </div>
                    <div class="form-group">
                        <label for="AskTitle"><span class="text_style">Title</span></label>
                        <textarea class="form-control" id="AskTitle" style="min-width: 300%" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="AskText"><span class="text_style">Text</span></label>
                        <textarea class="form-control" id="AskText" style="min-width: 300%" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="AskTags"><span class="text_style">Tags</span></label>
                        <textarea class="form-control" id="AskTags" style="min-width: 300%" rows="1"></textarea>
                    </div>
                    <br><button type="submit" class="btn btn-outline-secondary">Ask</button> <br><br>
                </form>
            </div>
        </div>
            <div class="col-3">
                {% include "question/right_tags.html" %}
            </div>
        </div>
    </main>

{% endblock %}