{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}
    <title>AstTsaanstu</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/my_style.css" %}">
</head>

<body>
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>